In [1]:
#functional programing

In [4]:
def check_palindrome(word):
    return(word)

In [5]:
check_palindrome('Ajay')

'Ajay'

In [7]:
a='lucky'
a[::-1]

'ykcul'

In [9]:
a="nitin"
if a== a[::-1]:
    print(f'{a} is a palindrome')
else:
    print(f'{a} is not a palindrome')

nitin is a palindrome

In [10]:
def check_palindrome(word):
    if word== word[::-1]:
        return 'palindrome'
    else:
        return'not a palindrome'

In [30]:
check_palindrome('nitin')

'palindrome'

In [34]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num= fibo[-1]
        second_last_num= fibo[-2]
        next_num= last_num + second_last_num
        fibo.append(next_num)
    return fibo

In [36]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [43]:
def check_prime(number):
    for i in range(2,number):
        if number%i==0:
           return'not a prime number'
        print('happy holi')
        break
    else:
        return'prime number'

In [44]:
check_prime(35)

happy holi

In [50]:
n=5
for i in range(1,n+1):
    print(i*'*')

*
**
***
****
*****

In [61]:
n=5
for i in range(1,n+1):
    print(' '*(n-1)+i*'*  ')

    *
    *  *
    *  *  *
    *  *  *  *
    *  *  *  *  *

In [62]:
def print_star(n=5,typ='left'):
    for i in  range (1,n+1):
        print(''*(n-i)+i*'*')

In [64]:
print_star(6)

*
**
***
****
*****
******

In [76]:
def sum_of_n_natural_numbers(n):
    result=0
    for i in range(1,n+1):
        result +=i
    return result

In [77]:
sum_of_n_natural_numbers(20)

210

In [88]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result

In [89]:
factorial(5)

120

In [97]:
def total_sales(*args):
     #unpacking
    result=0
    for i in args:
        result +=i 
    return result

In [98]:
total_sales(1,2,3,4,56,78)

144

In [102]:
sales=[435,63,347,3245,6234,2345,23456,3,45678]
#min(sales)

In [104]:
min_element=sales[0]
for i in sales[1:]:
    if i< min_element:
        min_element=i
print(min_element)

3

In [105]:
max_element=sales[0]
for i in sales[1:]:
    if i>min_element:
        max_element=i
print(max_element)

45678

In [114]:
def max_sales(*sales):
    sales=list(sales)
    max_element=sales[0]
    for i in sales[1:]:
        if i>max_element:
            max_element=i
    print(max_element)

In [115]:
max_sales(10,400,500,600,1000)

1000

In [125]:
company=['ola','uber','rapido','tata','adani']
def add_hashtag(*company):
    result=[]
    for i in company:
            result.append('#'+i.upper())
    return result

In [128]:
add_hashtag('buggati')

['#BUGGATI']

In [130]:
def store_records(name,age,sec,roll_no,Class):
    data = {'Name':name,'Age':age,'Sec':sec,'Roll_No':roll_no,'Class':Class}
    import pandas as pd
    result=pd.DataFrame(data,index=[1])
    return result

In [132]:
store_records('Rachit',20,'A',12,12)

     Name  Age Sec  Roll_No  Class
1  Rachit   20   A       12     12

In [134]:
display(store_records('Rachit',20,'A',12,12))
display(store_records('fazal',20,'A',13,12))
display(store_records('samdish',20,'A',14,12))

     Name  Age Sec  Roll_No  Class
1  Rachit   20   A       12     12

    Name  Age Sec  Roll_No  Class
1  fazal   20   A       13     12

      Name  Age Sec  Roll_No  Class
1  samdish   20   A       14     12

In [137]:
def students_records(**kwargs):
    import pandas as pd
    result=pd.DataFrame(kwargs,index=[1])
    return result

In [138]:
students_records(Name='aryan',Age=20,sec='e2',Roll_No=80,Address='delhi')

    Name  Age sec  Roll_No Address
1  aryan   20  e2       80   delhi

In [139]:
 def check_palindrome(word:str):
    if type(word)==str:
        word= word.upper()
        if word== word[::-1]:
            return'Palindrome'
        else:
            return 'Not a Palindrome'
    else:
        return'Invalid Data Type'

In [140]:
check_palindrome('pop')

'Palindrome'

In [143]:
def sound_box(paisa,platform='Paytm'):
    text = f'''{platform} par {paisa} rs Prapt hue.'''
    audio= gTTs(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music= p.mixer.Sound('paytm.mp3')
    music.play()

SyntaxError: invalid non-printable character U+00A0 (3646836874.py, line 10)

In [149]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [150]:
600

600

In [151]:
400

400

In [152]:
499

499

In [153]:
sound_box(500)

ModuleNotFoundError: No module named 'gtts'

In [156]:
sound_box(100 rupee ,'paytm' pr prapt hue)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (873260808.py, line 1)