In [5]:
#exception handling 
age='23'
try:
    if age>18:
        print('can vote')
    else:
        print('cant vote')
    except TypeError:
        print('something went wrong')
        print('invalid datatype comparison!!')
    #except:
     # print('invalid code')

SyntaxError: invalid syntax (1228074150.py, line 8)

In [7]:
age ='23'
try:
    if age>=18:
        print('can vote')
    else:
        print('cant vote')
except TypeError:
    print('something went wrong')
    print('invalid datatype comparison!!')
    #except:
     # print('invalid code')

something went wrong
invalid datatype comparison!!

In [11]:
def student_records(**kwargs):
    import pandas as pd 
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
      data = pd.DataFrame(kwargs,index=[1])
      return data

student_records(Name='ajay',age=12,address='noida')

In [ ]:
def student_records(**kwargs):
    import pandas as pd 
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
      data = pd.DataFrame(kwargs,index=[1])
      return data

In [24]:
student_records(name=['aman','karan','fazal'],
                address=['noida','delhi','noida'],
                sec=list('abc'))

    name address sec
0   aman   noida   a
1  karan   delhi   b
2  fazal   noida   c

In [23]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear=True)

_IncompleteInputError: incomplete input (3257795016.py, line 8)

In [ ]:
show_time()

In [ ]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear=True)
            except:
        print('

In [1]:
import rachit as r
r.check_palindrome('nitin')
r.give_fibo(12)
r.sum_of_n_natural_numbers(10)

This is Rachit Module in Python
info: http://localhost:8888/notebooks/Untitled1.ipynb
something went wrong
invalid datatype comparison!!

55

In [2]:
from rachit import *
print('done')

done

In [3]:
import turtle
print('hello')

hello

import turtle
for i in range(4):
    turtle.circle(100)
    turtle.left(90)

In [2]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col=['red','blue','green','yellow','orange']
    import random
    picked_color=random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [1]:
import turtle
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('blue')
    turtle.forward(100)
    turtle.left(60)

In [ ]:
#FILE HANDLING

In [3]:
file = open('rachit.py',mode='r')
print(file.read(100))
file.close()

print('''This is Rachit Module in Python
info: http://localhost:8888/notebooks/Untitled1.ipynb''')

In [9]:
f=open('rachit.py',mode='r')

In [10]:
print(f.readline())

print('''This is Rachit Module in Python

In [11]:
f.close()
print('done')

done

In [12]:
f = open('rachit.py',mode='r')
for i in range(5):
    print(f.readline())

print('''This is Rachit Module in Python

info: http://localhost:8888/notebooks/Untitled1.ipynb''')





def check_palindrome(word:str):

In [14]:
f = open('rachit.py',mode='r')
for i in range(10):
    if i==4:
      print(f.readline())
    else:
       f.readline()

def check_palindrome(word:str):

In [20]:
f = open('rachit.py',mode='r')
data=f.readlines()

f.close()
print('done')

done